/**
 * @file
 * RTL styles for administration pages.
 */

/**
 * Administration blocks.
 */
div.admin-panel .body {
  padding: 0 8px 2px 4px;
}
@media screen and (min-width: 40em) {
  div.admin .left {
    float: right;
    margin-left: 0;
    margin-right: 1em;
  }
  div.admin .right {
    float: left;
    margin-left: 1em;
    margin-right: 0;
  }
}
div.admin .expert-link {
  margin-right: 0;
  margin-left: 1em;
  padding-right: 0;
  padding-left: 4px;
  text-align: left;
}

/**
 * Status report.
 */
table.system-status-report td.status-icon {
  padding-left: 0;
  padding-right: 6px;
}
table.system-status-report tr.merge-up td {
  padding: 0 28px 8px 6px;
}

/**
 * Appearance page.
 */
table.screenshot {
  margin-left: 1em;
}
.system-themes-list-enabled .theme-selector .screenshot,
.system-themes-list-enabled .theme-selector .no-screenshot {
  float: right;
  margin: 0 0 0 20px;
}
.system-themes-list-disabled .theme-selector {
  float: right;
  padding: 20px 0 20px 20px;
}
.theme-selector .operations li {
  border-right: none;
  border-left: 1px solid #cdcdcd;
  float: right;
}
.theme-selector .operations li.last {
  border-left: none;
  padding: 0 0.7em 0 0;
}
.theme-selector .operations li.first {
  padding: 0 0 0 0.7em;
}

/**
 * Exposed filters.
 */
.exposed-filters .filters {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
.exposed-filters .form-item label {
  float: right;
}
/* Current filters */
.exposed-filters .additional-filters {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
